.head{
    background-color: #212832;
    padding: 2%;
}

.start{color: white;}
.nav{
    display: flex;
align-items: center;
text-align: center;

}

.navigation{
    margin-left: 30%;
}

.list{
    display: flex; 
    gap: 10%;
    color: #6f7172;
    list-style: none;
}
.a{
    text-decoration: none;
    color: #c1c1c1
}

.textt{

    color: white;
    margin: 3%;
    display: flex;

}
.text2{color: #6f7172;;
    }

 .btn1{
    background-color: #0d6efd;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 10px;
    padding: 15px;
 }
 .btn2{
    background-color: #212529;
    color: white;
padding: 1%; 
border: none;
    border-radius: 10px;
    padding: 15px;
}



.icon{
width: 40%;
height: 40%;
}

.div1{
    display: flex;
    margin-top: 10%;
 border: 10px;
 
}

.divicon{
    border: 10px;
}

.sect2{
    background-color: #f8f9fa;
    padding: 100px;
    margin-left: 0%;
}
 
.sect2 p{
    margin-left: 20%;
    font-style: italic;
    font-family: sans-serif;
    font-size: x-large;
}

.tom{
    display: flex;
    margin-left: 20%;
    font-size: 3%;
}
.img4{
    border-radius: 50%;
}

.h1{
    margin-left: 40%;
}

.Lorem{
    margin-left: 35%;
    color: #6f7172;
}

 .i350{ width: 100%;
    height: 60%;
    
}
    
.box{
        display: flex;
        
    }
.spn{
    display: flex;
}

.card{
    width: 300px;
    margin-left: 3%;
}

.card1{
    display: flex;
    justify-content: space-around;
}

.Kelly{
    border-radius: 50%;
}

.new{
    background-color: #0d6efd;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    padding: 3%;
    border-radius: 2%;
    align-items: center;
    
}

.h11{
    color: white;
}

.pp{
    color: #8dbbfe;
}


    

.foot{display: flex;
    background-color: #212529;
height: 100%;
margin-top: 10%;
}

.h7{
    color: white;


}


.terms{display: flex;
margin-left: 60%;
gap: 10px;
color: white;}

.list1{
    display: flex;
    gap: 20px;
}